.appPrivate {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.privateJobsForm {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privateJobsForm button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.privateJobsForm button:hover {
    background-color: rgb(214, 204, 204);
    border: 1px solid black;
}


.jobsForm button:hover {
    border: 2px solid black;
}

.privateSearch {
    height: 150px;
}

.privateJobs {
    height: 100%;

}

.privateJobsForm,
.privateSearch,
.privateJobs {
    margin-left: 50px;
    margin-right: 50px;
}