* {
    box-sizing: border-box;
}

#listajobs {
    text-align: center;
}

.jobs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.jobLink {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 7px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.jobLink:hover {
    background-color: #b0c4de;
}

.job_title,
.job_promoter,
.job_state,
.job_salary {
    display: flex;
    max-width: 100%;
    max-height: 33%;
    overflow: hidden;
    word-wrap: break-word;
    align-items: start;
    border-radius: 7px;
    color: black;
    margin-bottom: 25px;
}

.job_title h3,
.job_promoter p,
.job_state p,
.job_salary p {
    margin-left: 5px;
    font-size: 15px;
}

.job_title h3 {
    font-size: 20px;
}

.job_promoter p {
    font-size: 15px;
}

.job_state p {
    font-size: 15px;
}