.App {

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(30, 55, 97);
  border-bottom: 1px solid black;
  height: 50px;
}

/*navigation*/
.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-x1 {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.container-x1 .container-x1-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container-x2 {
  display: flex;
  flex-grow: 0.9;
  justify-content: space-between;
  align-items: center;

}

.horizontalBar {
  display: flex;
  list-style-type: none;
}

.container-x3 .menu-button {
  display: none;
  padding: 8px;
}

.container-x2 .horizontalBar .hideOnMobile {
  margin-left: 30px;
}

.container-x2 .horizontalBar .hideOnMobile a:hover {
  color: #4870e7;
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.sidebar ul {
  list-style-type: none;
  width: 100%;
}

.sidebar ul li {
  width: 100%;
  height: 50px;
}

.sidebar ul li a {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

.sidebar .logoutButtonVerticalBar button {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 0px;
}

.sidebar ul li a:hover,
.sidebar .logoutButtonVerticalBar button:hover {
  background-color: azure;
}

.container-x3 {
  display: flex;
  flex-grow: 0.01;
  align-items: center;
  justify-content: end;
}

.container-x3 .logoutButtonVerticalBar button {
  background-color: transparent;
}

.container-x3 .logoutButtonHorizontalBar button {
  background-color: transparent;
  color: #fff;
}

.container-x3 .logoutButtonHorizontalBar button:hover {
  border: 1px solid white;
}

nav a {
  color: #fff;
  display: inline-block;
  margin: 0;
}

@media(max-width:1200px) {}


@media(max-width:800px) {
  .container-x3 .menu-button {
    display: flex;
  }

  .container-x3 .logoutButtonHorizontalBar button {
    display: none;
  }

  .sidebar {
    display: flex;
  }

  .hideOnMobile {
    display: none;
  }
}

@media(max-width:450px) {}